JoesWebsite/Web References/joesWS/JoesWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponseWS">
        <s:complexType />
      </s:element>
      <s:element name="GetResponseWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResponseWSResult" type="tns:GameResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GameResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:AI">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="AIScore" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PlayerScore" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AI">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Position" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetResponseWSSoapIn">
    <wsdl:part name="parameters" element="tns:GetResponseWS" />
  </wsdl:message>
  <wsdl:message name="GetResponseWSSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponseWSResponse" />
  </wsdl:message>
  <wsdl:portType name="JoesWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResponseWS">
      <wsdl:input message="tns:GetResponseWSSoapIn" />
      <wsdl:output message="tns:GetResponseWSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JoesWebServiceSoap" type="tns:JoesWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResponseWS">
      <soap:operation soapAction="http://tempuri.org/GetResponseWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JoesWebServiceSoap12" type="tns:JoesWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResponseWS">
      <soap12:operation soapAction="http://tempuri.org/GetResponseWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JoesWebService">
    <wsdl:port name="JoesWebServiceSoap" binding="tns:JoesWebServiceSoap">
      <soap:address location="https://localhost:44325/JoesWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="JoesWebServiceSoap12" binding="tns:JoesWebServiceSoap12">
      <soap12:address location="https://localhost:44325/JoesWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>